/* 设置图片大小 */
.main-image {
    width: 35%;
    height: 500px; /* 保持宽高比例，自动计算高度 */
    margin-top: 170px; /* 设置图片离顶端的间隔为50px */
    margin-left: 100px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.2); /* 水平偏移, 垂直偏移, 模糊半径, 颜色 */
}

/* 设置图片位置在页面左边 */
.main-image.left {
    float: left; /* 让图片浮动到左侧 */
    
}
.image-container {
    float: left;
    margin-top: 0px;
    margin-bottom: 20px;
   
}

/* 每张图片的样式 */
.image1 {
    width: 250px;
    height: 200px;
    margin-left: 20px;
    border-radius: 50%; /* 让图片变成圆形 */
    overflow: hidden; /* 隐藏超出边界的部分，确保整个图片都是圆形 */
}

.image2 {
    width: 250px;
    height: 200px;
   
    border-radius: 50%; /* 让图片变成圆形 */
    overflow: hidden; /* 隐藏超出边界的部分，确保整个图片都是圆形 */
}

.image3 {
    width: 250px;
    height: 200px;
    
    border-radius: 50%; /* 让图片变成圆形 */
    overflow: hidden; /* 隐藏超出边界的部分，确保整个图片都是圆形 */
}
.image4 {
    width: 250px;
    height: 200px;
   
    border-radius: 50%; /* 让图片变成圆形 */
    overflow: hidden; /* 隐藏超出边界的部分，确保整个图片都是圆形 */
}